In [1]:
import pandas as pd
import numpy as np

In [3]:
negative_df = pd.read_csv('../data/negative_samples_thrsh_12')[['node_0','node_1','shortest_path']] 
negative_df = negative_df.rename(columns = {'node_0': 'drug_id', 'node_1': 'gene_id'})
negative_df = negative_df[negative_df['drug_id'].str.contains('DB') & negative_df['gene_id'].str.contains('BE')]

In [4]:
negative_df

         drug_id    gene_id  shortest_path
1        DB04481  BE0002266           12.0
3        DB04481  BE0000206           13.0
4        DB04481  BE0002401           13.0
6        DB04481  BE0004180           13.0
10       DB04481  BE0002840           12.0
...          ...        ...            ...
1745404  DB01260  BE0003634           12.0
1745410  DB01134  BE0003634           14.0
1745423  DB08040  BE0002410           12.0
1745424  DB01105  BE0002410           13.0
1745425  DB01105  BE0004557           12.0

[411845 rows x 3 columns]